---
layout: page
---
<h1>{{ page.title }}</h1>
<div class="search">
    <form class="flex border-0" action="/search" method="get">
        <label for="default-search"
            class="mb-2 text-sm font-medium text-neutral-900 sr-only dark:text-neutral-300">Search</label>
        <input
            class="bg-neutral-50 border border-neutral-300 text-neutral-900 text-sm rounded-tl-lg rounded-bl-lg focus:ring-lime-500 focus:border-lime-500 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-neutral-50 dark:focus:ring-lime-500 dark:focus:border-lime-500"
            type="text" id="search-box" name="query">
        <button
            class="border-0 text-neutral-50 bg-lime-700 hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-tr-lg rounded-br-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800"
            type="submit">Search</button>
    </form>
    <ul id="search-results" class="search-results"></ul>
</div>
<script src="/js/search-content.js"></script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>